#header {
  background-color: darkgray;
  height: 50px;
}

h3 {
  align-content: center;
}

h3 small {
  font-size: 45%;
}

#main img {
  width: 75%;
}

.badge {
  position: relative;
  top: -0.8rem;
  left: -.5rem;
  color: chocolate;
  font-size: 0.9rem;
}
