<div class="row">
  <div *ngFor="let book of get_books_card()">
    <div class="col-4">
      <div class="card" style="width: 18rem; height: 30rem;" cardColor>
        <img [src]="book.img" class="card-img-top" height="75%">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">
            <button class="btn btn-block btn-primary" *ngIf="!InCart(book)" (click)="addToCart(book)">Add to Cart
            </button>
          <p class="card-text">
            <button class="btn btn-block btn-success" *ngIf="InCart(book)" (click)="deleteFromCart(book)">Added to
              Cart
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
