<h3>Shopping Cart</h3>
<!--<div class="row" *ngFor="let book of cart_service.cart">-->
<!--  <div class="card" style="width: 18rem; height: 30rem;">-->
<!--    <img [src]="book.img" class="card-img-top" height="75%">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">{{ book.title }}</h5>-->
<!--      <p class="card-text">-->
<!--        ${{ book.price }}  <span  style="padding-left: 5%">-->
<!--        <label for="qty">Quantity</label><span>-->
<!--        <input type="number" class="form-control col-1" style="width: 0.6rem"> </span>-->
<!--      </span>-->
<!--      </p>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
<div class="container-fluid" *ngFor="let book of cart_service.cart">
  <app-book-display [cart_book]="book"></app-book-display>


</div>
